/*
!.gitattributes
!.gitignore
!.gitmodules
!setup*
!hook*

# Dotfiles
!ackrc
!fonts.conf
!mimeo.conf
!gpgdiff
!gtk-3.0/settings.ini
!gtkrc-2.0
!gtkrc-theme-nox
!gtkrc-odin
!gtkrc-thor
!.keysnail.js
!Xdefaults
!xinitrc
!*.gpg

# Folders
!awesome
!ddns
ddns/key
!emacs
!mozilla
!notmuch
!roxterm.sourceforge.net
!urxvt
!zsh
