/*
__pycache__/
!.gitattributes
!.gitignore
!.gitmodules
!setup*
!hook*

# Dotfiles
!applications/justfile
!applications/make_steam_desktop_files.py
!beets/config.yaml
!Xmodmap
!Xresources
!chromium-flags.conf
!electron-flags.conf
!fonts.conf
!gitconfig
!globalrc
!gpgdiff
!gtkrc-2.0
!gtkrc-2.0-numix-dark
!gtkrc-baldr
!gtkrc-odin
!guile
!inputrc
!lftp/rc
!mimeo.conf
!mpd.conf
!picom.conf
!psqlrc
!python_startup.py
!ripgreprc
!tmux.conf
!xinitrc
!xsession
!*.gpg

# Folders
!awesome
!composer
!ddns
ddns/key
!emacs
!fennel
!fish
!fontconfig
!foot
!git
!gtk-3.0
gtk-3.0/bookmarks
!imapfilter
!mako
!mozilla
!mpDris2
!notmuch
!sway
!swayidle
!systemd
!terminator
!urxvt
!waybar
!youtube-dl
!zsh
