[submodule "urxvt/urxvt-tabbedex"]
	path = urxvt/urxvt-tabbedex
	url = git://github.com/mina86/urxvt-tabbedex.git
[submodule "zsh/completion/virsh"]
	path = zsh/completion/virsh
	url = https://planetcyborg.de/git/repos/jplitza/zsh-virsh-autocomplete
[submodule "zsh/modules/zsh-syntax-highlighting"]
	path = zsh/modules/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/modules/zsh-history-substring-search"]
	path = zsh/modules/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
