/*
__pycache__/
!.gitattributes
!.gitignore
!.gitmodules
!setup*
!hook*

# Dotfiles
!ackrc
!fonts.conf
!globalrc
!mimeo.conf
!gpgdiff
!gtk-3.0/settings.ini
!gtkrc-2.0
!gtkrc-theme-nox
!gtkrc-odin
!gtkrc-thor
!Xdefaults
!xinitrc
!*.gpg

# Folders
!awesome
!ddns
ddns/key
!emacs
!mozilla
!mpDris2
!notmuch
!urxvt
!zsh
