* {
    background-image: none;
}

window {
    background-color: #3f3f3f;
}

button {
    color: #dcdccc;
    background-color: #2b2b2b;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
}

button:focus,
button:active {
    background-color: #366060;
    outline-style: none;
}
button:hover {
    background-color: #4c7073;
    outline-style: none;
}

#lock {
    background-image: url("/usr/share/wleave/icons/lock.svg");
}

#logout {
    background-image: url("/usr/share/wleave/icons/logout.svg");
}

#suspend {
    background-image: url("/usr/share/wleave/icons/suspend.svg");
}

#hibernate {
    background-image: url("/usr/share/wleave/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/usr/share/wleave/icons/shutdown.svg");
}

#reboot {
    background-image: url("/usr/share/wleave/icons/reboot.svg");
}

#lock-off {
    background-image: url("lock-off.svg");
}
