[Unit]
Description=Start user applications
IgnoreOnIsolate=true
Requires=dbus.socket environment.target graphical-session.target
Wants=xdg-desktop-autostart.target
