[Unit]
Description=Awesome WM
Requires=dbus.socket environment.target
After=environment.target

[Service]
ExecStart=/usr/bin/true
Type=oneshot
#Restart=on-failure
TasksMax=infinity

[Install]
Alias=window-manager.service
