[Unit]
Description=EasyEffects daemon
Requires=pipewire.service

[Service]
Type=simple
ExecStart=/usr/bin/easyeffects --service-mode --hide-window
ExecStop=/usr/bin/easyeffects --quit
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
