[Unit]
Description=GnuPG (and SSH) private key agent
Wants=environment.target
Before=environment.target
IgnoreOnIsolate=true

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --daemon --enable-ssh-support
ExecStartPost=/usr/bin/systemctl --user set-environment SSH_AUTH_SOCK=${HOME}/.gnupg/S.gpg-agent.ssh
Restart=on-abort

[Install]
WantedBy=default.target
