[Unit]
Description=Just Another Mounter Daemon
Requires=dbus.socket graphical-session.target

[Service]
ExecStart=/home/schnouki/bin/jamd
Restart=on-failure

[Install]
WantedBy=applications.target
