[Unit]
Description=Mailbox synchronization service
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStartPre=/home/schnouki/.config/notmuch/hook-pre
ExecStart=/usr/bin/mbsync -a
ExecStopPost=/home/schnouki/.config/notmuch/hook-post
