[Unit]
Description=MPRIS2 support for MPD
Requires=mpd.service dbus.socket xorg.target
After=mpd.service

[Service]
BusName=org.mpris.MediaPlayer2.mpd
ExecStart=/usr/bin/mpDris2

[Install]
WantedBy=xorg.target
