[Unit]
Description=MPRIS2 support for MPD
Requires=mpd.service dbus.socket xorg.target
After=mpd.service

[Service]
ExecStart=/usr/bin/mpDris2 localhost 6600
Restart=on-failure
BusName=org.mpris.MediaPlayer2.mpd

[Install]
WantedBy=applications.target
