[Unit]
Description=MPRIS2 notifications service
Requires=dbus.socket xorg.target

[Service]
ExecStart=/home/schnouki/bin/mpris2-info

[Install]
WantedBy=xorg.target
