[Unit]
Description=Real-time microphone noise suppression
Requires=pipewire.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/noisetorch -i -s alsa_input.pci-0000_00_1f.3.analog-stereo -t 0
ExecStop=/usr/bin/noisetorch -u

[Install]
WantedBy=default.target
