[Unit]
Description=Randomize wallpaper displayed by swww
Requisite=swww.service
After=swww.service

[Service]
Type=oneshot
ExecStart=%h/.config/sway/random-swww
