[Unit]
Description=Wallpaper randomization timer

[Timer]
OnStartupSec=5m
OnUnitActiveSec=5m
Unit=random-swww.service

[Install]
WantedBy=timers.target
