[Unit]
Description=Time-tracking application.
Requires=xorg.target

[Service]
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/rescuetime

[Install]
WantedBy=applications.target
