[Unit]
Description=sway compositor session
Documentation=man:systemd.special(7)
BindsTo=wayland-session.target
Wants=wayland-session-pre.target
After=wayland-session-pre.target
