[Unit]
Description=Wallpaper daemon for Wayland
BindsTo=sway-session.target
After=sway-session.target

[Service]
Type=exec
ExecStart=/usr/bin/swww-daemon
ExecStartPost=%h/.config/swww/random-swww
ExecReload=%h/.config/swww/random-swww
Restart=on-failure

[Install]
WantedBy=sway-session.target
