[Unit]
Description=Wallpaper daemon for Wayland
BindsTo=sway-session.target
After=sway-session.target

[Service]
Type=forking
ExecStart=/usr/bin/swww init
ExecStartPost=%h/.config/swww/random-swww
ExecReload=%h/.config/swww/random-swww
ExecStop=/usr/bin/swww kill
Restart=on-failure

[Install]
WantedBy=sway-session.target
