[Unit]
Description=Update wallpapers from the Wallhaven toplist
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/home/schnouki/bin/wallhaven-update desktop
