[Unit]
Description=WPA Graphical User Interface
Requires=graphical-session.target

[Service]
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/wpa-cute -t

[Install]
WantedBy=applications.target
