[Unit]
Description=Modern wallpaper daemon for Wayland
Documentation=man:wpaperd(1)
BindsTo=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/wpaperd
Restart=always
CPUWeight=idle

[Install]
WantedBy=sway-session.target
