[Unit]
Description=Allow root to use this display
Requires=xorg.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xhost +local:root

[Install]
WantedBy=xorg.target
