[Unit]
Description=Enable GesturesOnly on a Synaptics touchpad
Requires=xorg.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xinput set-prop "SynPS/2 Synaptics TouchPad" "Synaptics Gestures Only" 1

[Install]
WantedBy=xorg.target
