[Unit]
Description=X resources database
Requires=xorg.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge %h/.Xresources

[Install]
WantedBy=xorg.target
