/* Interesting URLs:
 *  - http://eriwen.com/css/tweaking-thunderbirds-chrome/
 *  - http://www.linnhe2.free-online.co.uk/thunderbird/chrome.html
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Links (e.g. addons window) */
.text-link {
    color: #88f !important;
}

/* Folder pane alternating row colours */
#folderTree treechildren::-moz-tree-row(odd) {
    background-image: url("chrome://messenger/skin/icons/row.png");
    background-position: bottom;
    background-repeat: repeat-x;
}

/* Message summary -- from http://forums.mozillazine.org/viewtopic.php?f=39&t=1921529
 * Note that it does not seem to work unless the @namespace line is commented out.
@-moz-document url(chrome://messenger/content/multimessageview.xhtml) {
}
 */

/* Enigmail */
.enigmailHeaderValue {
  color: black !important;
}

/* Lightning */
#ltnSidebar, minimonth {
    background-color: #5C5E61 !important;
}
.minimonth-month-box {
    background-color: #525458 !important;
}
