%backup%~
*.el[cdn]
.#*
*.cache
flycheck_*.el

.cask/
.python-environments/
anaconda-mode/
auto-save-list/
elpa/
eln-cache/
emojis/
eshell/
parinfer-rust/
persist/
request/
url/
transient/
var/

.dap-breakpoints
.emacs.desktop
.emacs.desktop.lock
.lsp-session-v1
.mc-lists.el
.org-id-locations
abbrev_defs
amx-items
bookmarks
ede-projects.el
forge-database*.sqlite
history
image-dired
mastodon.plstore
network-security.data
org-roam.db
places
pomm*
projects
recentf
server
smex-items
tramp

# Symlinks
golbarg.el

# Private
init-00-custom.el
init-99-private.el
