auto-save-list
%backup%~
.emacs.desktop
.emacs.desktop.lock
.org-id-locations
ede-projects.el
elpa/
places
server
url
tramp
image-dired
abbrev_defs
el-get
ac-comphist.dat

# Symlinks
golbarg.el

# Private
init-99-private.el
